<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form>
        <h2>Sign up</h2>
        <h2>Fullname</h2>
        <label for="name"></label>
        <input type="text" name="name">
        <div class="name error"></div>
        <h2>Email</h2>
        <label for="email"></label>
        <input type="text" name="email">
        <div class="email error"></div>
        <h2>Password</h2>
        <label for="Password"></label>
        <input type="password" name="password">
        <div class="password error"></div>
        <button>Sign Up</button>
        <a href="/login">login</a>
    </form>
    <script src="/js/signup.js"></script>
</body>
</html>